<!-- Linking to base file -->
{% extends 'base.html' %}

{% block body %}
<!-- Page content holder -->
<div class="section wf-section">
  <div class="w-container">
    <h1 class="brand_text">Select two stars to mix them</h1>
    <div class="w-dyn-list">
      <div role="list" class="w-dyn-items w-row">
        <div role="listitem" class="w-dyn-item w-col w-col-3">
          <a href="" class="photo-link-block w-inline-block">
            <img src="static/img/{{stars[0]}}/{{adam}}" alt="Adam Sandler"/>
            <div class="title">Adam Sandler</div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item w-col w-col-3">
          <a href="" class="photo-link-block w-inline-block">
            <img src="static/img/{{stars[1]}}/{{amanda}}" alt="Amanda Seyfried"/>
            <div class="title">Amanda Seyfried</div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item w-col w-col-3">
          <a href="" class="photo-link-block w-inline-block">
            <img src="static/img/{{stars[2]}}/{{angelina}}" alt="Angelina Jolie"/>
            <div class="title">Angelina Jolie</div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item w-col w-col-3">
          <a href="" class="photo-link-block w-inline-block">
            <img src="static/img/{{stars[3]}}/{{jesse}}" alt="Jesse Eisenberg"/>
            <div class="title">Jesse Eisenberg</div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item w-col w-col-3">
          <a href="" class="photo-link-block w-inline-block">
            <img src="" alt=""/>
            <div class="title"></div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item w-col w-col-3">
          <a href="" class="photo-link-block w-inline-block">
            <img src="" alt=""/>
            <div class="title"></div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item w-col w-col-3">
          <a href="" class="photo-link-block w-inline-block">
            <img src="" alt=""/>
            <div class="title"></div>
          </a>
        </div>
        <div role="listitem" class="w-dyn-item w-col w-col-3">
          <a href="" class="photo-link-block w-inline-block">
            <img src="" alt=""/>
            <div class="title"></div>
          </a>
        </div>
        <!--
        <div role="listitem" class="w-dyn-item w-col w-col-3">
          <a href="/photos/dog" class="photo-link-block w-inline-block">
            <img src="https://assets.website-files.com/5e4b16080b25eddf8f4d5264/5e4b16080b25ed48de4d52a9_photo-1441906363162-903afd0d3d52-square700.jpg" alt=""/>
            <div class="title">Blue Foam</div>
          </a>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
<!-- End content -->
{% endblock %}