<!-- Begin navbar -->
<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation-bar w-nav" style="background-color: #4DA8A2">
    <div class="w-container">
      <a href="/" aria-current="page" class="brand-link w-nav-brand w--current">
        <h1 class="brand-text">STAR'S MIXER</h1>
      </a>
      <nav role="navigation" class="navigation-menu w-nav-menu">
        <a href="https://www.linkedin.com/in/maurylukas/" aria-current="page" class="navigation-link w-nav-link">LinkedIn</a>
        <a href="https://github.com/maurylukas" class="navigation-link w-nav-link">GitHub</a>
        <a href="https://kaggle.com/maurylukas" class="navigation-link w-nav-link">Kaggle</a>
      </nav>
      <div class="hamburger-button w-nav-button">
        <div class="w-icon-nav-menu">
            <!-- Used on small windows -->
        </div>
      </div>
    </div>
</div>
<!-- End navbar -->